<div class='jumbotron jumbotron-fluid'>
  <div class='container'>
    <h1>Focus on the Moments</h1>
    <a class='btn btn-primary btn-lg bg-inverse' href='/auth/connect' role='button'>
      Connect with Instagram
    </a>
  </div>
</div>
