<div id='jumbotron' class='jumbotron jumbotron-fluid'>
  <div class='layer'>
    <div class='container jumbotron-content'>
      <h1 class='jumbotron-heading'>Focus on your Moments</h1>
      <a class='btn btn-primary btn-lg jumbotron-btn' href='auth/connect' role='button'>
        Connect with Instagram
      </a>
    </div>
  </div>
</div>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4 textbox'>
      <p>A simple and lightweight image viewer for Instagram. View and download all the pictures you've posted.</p>
    </div>

    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4 textbox'>
      <p>Focus on the moments you've captured, without distraction by likes, comments, and other social media noise.</p>
    </div>

    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4 textbox'>
      <p>Your data is safe. SimplePics does not collect or store your pictures or data in any way.</p>
    </div>
  </div>
</div>
