// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "photoswipe";
@import "default-skin";
@import "home";
@import "media";

.alert{
  text-align: center;
  position: absolute;
  top:60px;
  left: 0;
  right: 0;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 6px;
  background-color:#5DADE2;
  padding:0.5em 0.3em;
  color:white;
  font-size:1em;
  font-weight:bold;
  z-index: 1000;
}

.alert-error{
  background-color: #E74C3C;
}

.navbar{
  //text-align: center;
}

.profile-pic{
  display: inline;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.logout{
  text-decoration: underline;
  color: white !important;
}

.user-link{
  padding: 0;
}

.username{
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 0;
  color:white
}

#navbarNav{
  text-align: center;
}
